In [1]:
import pandas as pd
import numpy as np

In [2]:
dp = pd.read_csv('Height_Weight.csv')
dp.head()

   Index    Height    Weight
0      1  65.78331  112.9925
1      2  71.51521  136.4873
2      3  69.39874  153.0269
3      4  68.21660  142.3354
4      5  67.78781  144.2971

In [3]:
mh = dp['Height'].mean()
mw = dp['Weight'].mean()
# x_train = dp['Height'].to_numpy()
# y_train = dp['Weight'].to_numpy()

In [4]:
# xm = np.mean(x_train)
# xm
mh

67.99311359679999

In [5]:
# ym = np.mean(y_train)
# ym
mw

127.07942116080001

In [6]:
prod = 0
mse = 0
for i in range(len(dp['Height'])):
    prod += ((dp['Height'][i]-mh)*(dp['Weight'][i]-mw))
    mse += ((dp['Height'][i]-mh)**2)
    
# for i in range(len(x_train)) :
#     prod += ((x_train[i]-xm)*(y_train[i]-ym))
#     mse += ((x_train[i]-xm)**2)

In [7]:
b1 = prod/mse
b0 = mw - (b1*mh)

In [8]:
print(b1,b0)

3.0834764454030186 -82.57574306454445

In [9]:
def linearreg(x):
    return (b1*x)+b0

In [10]:
cost = 0
for i in range(len(dp['Weight'])):
    cost += ((linearreg(dp['Height'][i])-dp['Weight'][i])**2)
cost = (cost/(len(dp['Height'])-2))**0.5
cost

10.079516864371302

In [11]:
linearreg(66.5)

122.47544055475628